<!-- File: templates/reset-dialog.hbs -->
<form autocomplete="off">
    <div class="form-group">
        <p>{{localize (concat @root.moduleId ".dialogs.resetConfirm.text1")}}</p>
        <p><strong>{{localize (concat @root.moduleId ".dialogs.resetConfirm.text2")}}</strong></p>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fas fa-undo"></i> {{localize (concat @root.moduleId ".buttons.confirmReset")}}
        </button>
        <button type="button" name="cancel">
            <i class="fas fa-times"></i> {{localize "Cancel"}}
        </button>
    </footer>
</form>